.button {
    font: inherit;
    border: 1px solid #7375c8;
    border-radius: 5px;
    background: #7375c8;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #3ad1b9;
    border-color: #3ad1b9;
  }
  
  .button:focus {
    outline: none;
  }